<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HindustanMedia</display-name>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.web.OnServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>agent</servlet-name>
    <servlet-class>com.hindustan.servlet.AddAgent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>agent</servlet-name>
    <url-pattern>/agentCreate</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>list</servlet-name>
    <servlet-class>com.hindustan.servlet.Listagent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>list</servlet-name>
    <url-pattern>/agentlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listprint</servlet-name>
    <servlet-class>com.hindustan.servlet.ListPrintOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listprint</servlet-name>
    <url-pattern>/listprint</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listreturn</servlet-name>
    <servlet-class>com.hindustan.servlet.ListReturnOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listreturn</servlet-name>
    <url-pattern>/listreturn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listinv</servlet-name>
    <servlet-class>com.hindustan.servlet.ListInvoice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listinv</servlet-name>
    <url-pattern>/listinv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>prorder</servlet-name>
    <servlet-class>com.hindustan.servlet.PrintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prorder</servlet-name>
    <url-pattern>/printorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletemodify</servlet-name>
    <servlet-class>com.hindustan.model.DeleteModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletemodify</servlet-name>
    <url-pattern>/deletemodify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>unorder</servlet-name>
    <servlet-class>com.hindustan.servlet.UnsoldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>unorder</servlet-name>
    <url-pattern>/unsoldorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ddetail</servlet-name>
    <servlet-class>com.hindustan.servlet.DispatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ddetail</servlet-name>
    <url-pattern>/dispatchdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>printord</servlet-name>
    <servlet-class>com.hindustan.servlet.AddPrintOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>printord</servlet-name>
    <url-pattern>/printordercreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>unsoldord</servlet-name>
    <servlet-class>com.hindustan.servlet.AddUnsoldOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>unsoldord</servlet-name>
    <url-pattern>/unsoldordercreate</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>dispatchcre</servlet-name>
    <servlet-class>com.hindustan.servlet.AddDispatchDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatchcre</servlet-name>
    <url-pattern>/dispatchdetailcreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>labelgen</servlet-name>
    <servlet-class>com.hindustan.servlet.LabelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>labelgen</servlet-name>
    <url-pattern>/labelgenerate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>invoicesel</servlet-name>
    <servlet-class>com.hindustan.servlet.InvoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>invoicesel</servlet-name>
    <url-pattern>/invoiceselect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>invoicegen1</servlet-name>
    <servlet-class>com.hindustan.servlet.InvoiceGenerate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>invoicegen1</servlet-name>
    <url-pattern>/invoicegenerate1</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login1.html</welcome-file>
  </welcome-file-list>  
</web-app>